#home{
   background-color:#FAF3E0;
   color:  #333333;
    width: 100%;
    height: 100%;
    padding: 90px 0px 0px 0px;
    margin-bottom: -5px;
}

#navbar_image{
    width: 3%;
    height: 3%;
}

#home_text1{
    text-align: center;
    font-family: sans-serif;
    padding: 3% 15% 1% 15%;
    font-size: 4em;
}

#home_text2{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0% 15% 1% 15%;
    font-size: 1.8em;
    color: #666666;;
}

#home_text3{
    text-align: center;
    font-family: sans-serif;
    padding: 0% 5% 5% 5%;
    font-size: 0.8em;
}


.carousel{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 70%;
}

.carouselIMG{
    width: 100%;
    height: 100%;
}

.button {
    background-color: #FF7043;
    color: #FFFFFF;
  }
.button:hover {
    background-color: #FF5722;
  }
  
  a {
    color: #1976D2;
  }

.card-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
  }

.card-body{
    height: 100%;
}

.card-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}


#crossSpan{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0px 2px 0px;
}

#crossbtn{
    background-color: #FF7043;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#crossbtn:hover{
    background-color: #FF5722;
}


#crosstext2{
    text-decoration: line-through;
    padding: 5px 0px 0px 0px;
}
.card-group{
    background-color: rgb(220, 215, 200);
}

.card{
    background-color: #FAF3E0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    flex-wrap: flex;
}

.card:hover{
    color: navy;
}

.card-2{
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    flex-wrap: flex;
}


#crossbtn2{
    background-color: #07119b;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#crossbtn2:hover{
    background-color: #575db4;
}

#cardIMG{
    align-self: center;
    width: 50%;
    height: 70%;
}

/* 
style="font-size:2em; margin-left: 70px; margin-top: 30px;
src="workpiece/ins_justin_cutroni_1x.jpg"

*/